<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idk yet stupid title</title>
    <link rel="stylesheet" href="../css/index.css"/>

</head>
<body>
    <header class="nav-bar"></header>
errorrererer
    <main>
        <div class="hero sect"></div>
        <div class="about sect"></div>
        <div class="showcase sect"></div>
        <div class="projects sect"></div>
        <div class="contact sect"></div>
    </main>

    <script src="../js/index.js"></script>
</body>
</html>